extends layout

block scripts
  script(src='/jquery/jquery.js')
  script(src='javascripts/route1.js')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Metal+Mania')

block content
  h1= title

  #place.redplace
      h3 BOOP
