body {
  background: #666;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#redplace {
  background-color: red;
  height: 300px;
  width: 325px;
  padding: inherit;
  color: blue;
  border: 10px dashed blue;
}

#redplace h3 {
  font-size: 10rem;
  margin: auto;
  font-family: 'Metal Mania', cursive;
}
