body {
  background: #666;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  font-size: 9.5rem;
  margin: auto;
  font-family: 'Metal Mania', cursive;
}

#place {
  height: 300px;
  width: 325px;
  padding: inherit;
}

.redplace {
  background: red;
  color: blue;
  border: 10px dashed blue;
}

.blueplace {
  background: blue;
  color: red;
  border: 10px dashed red;
}
